@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

// * {
//     box-sizing: inherit;
// }
.app{
    overflow: hidden;
}

html {
    * {
        margin: 0;
        padding: 0;
    }
    font-size: 62.5%;
    line-height: 1.6rem;;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

button,
input [tabindex] {
    outline: none;
    border: none;
}

a [href] {
    color: var(--black);
    text-decoration: none;
}

:root {
    //default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --black: #000;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #fba7bf;
    --border-color: #dbdbdb;
    --main-color: red;
    --star-gold: #ffce3d;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}


/* respónsive */

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

@keyframes fadeIN {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: fadeIN linear 0.3s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal__body {
    /* background-color: var(--white-color); */
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    animation: growth linear 0.3s;
    /* border-radius:5px ; */
}

/* Buttom style */

.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border-radius: 2px;
    border: none;
    font-size: 1.4rem;
    padding: 0px 8px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover {
    background-color: rgba(208, 194, 194, 0.4);
}
.btn.btn--primary {
    background-color: green;
    color: var(--white-color);
}
.btn.btn--disabled {
    color: #847d7d;
    cursor: default;
    background-color: #adabab;
}
.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
}
/* selection */
.select-input {
    z-index: 1;
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-input:hover .select-input-list {
    display: block;
}
.select-input__lable {
    font-size: 1.4rem;
}
.select-input__icon {
    font-size: 1.4rem;
    color: #878383;
    position: relative;
    top: 1px;
}
.select-input-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 26px;
    border-radius: 2px;
    padding: 10px 16px;
    list-style: none;
    background-color: var(--white-color);
    display: none;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 5px 0;
}
.select-input__link:hover {
    color: green;
}

/* =========paging==========phân trang */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.pagination-item {
    margin: 0 12px;
}
.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: green;
}
.pagination-item--active .pagination-item__link:hover {
    background-color: rgb(9, 99, 9);
    color: var(--white-color);
}
.pagination-item__link {
    display: block;
    --height: 30px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}
.header__navbar-item{
    margin: 0 8px ;
    position: relative;
}
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

.app{
    overflow: hidden;
}
.header{
    height: var(--header-height);
    background-image:linear-gradient(0,#f5cef3,#fba7bf);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
}
.header__navbar-list{
    z-index: 3;
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}


.header__navbar-item{
    margin: 0 8px ;
    position: relative;
}
.header__navbar-user{
    display: flex;
    justify-content: center;
    position: relative;
}
.header__navbar-user-img{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    /* margin-top: 4px; */
    top: -4px;
    border: 1px solid #363030;
}
.header__navbar-user-name{
    margin-left: 28px;
    font-size: 1.6rem;
    font-weight: 500;
}

.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    background-color: var(--white-color);
    list-style: none;
    top: calc(100% + 8px);
    right: 0;
    width: 168px;
    padding-left: 0;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;

}

.header__navbar-user-item a{
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.4rem;
    display: inline-block;
    padding: 8px 16px;
    font-weight: 400;
}
.header__navbar-user-menu::before{
    position: absolute;
    content: '';
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 2px;
    top: -24px;
    /* display: none; */
}
.header__navbar-user::after{
    position: absolute;
    right: 0;
    top: 12px;
    width: 100px;
    height: 24px;
    content: '';
    display: block;
    /* background-color: red; */
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}


.header__navbar-user-item:hover{
    background-color: #f7f7f7;
}

.header__navbar-item-link,
.header__navbar-item{
    display: inline-block;
    font-size: 1.5rem;
    color: #0e172c;
    text-decoration: none;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    opacity: 0.7;
    cursor: pointer;
}
.header__navbar-item--strong{
    /* font-size: 1.6rem; */
    font-weight:450;
}

.header__navbar-item--separate::after{
    content: '';
    display: block;
    position:absolute;
    border-left: 1px solid #0e172c ;
    height: 16px;
    right: -10px;
    top: -1px;
}
.header__navbar-icon-link{
    color:#0e172c ;
    text-decoration: none;
}
.header__navbar-icon{ 
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: #0e172c ;
}
/* Header_Qr */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 170%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIN ease-in 0.3s;
    box-shadow: 0 2px 20px rgba(0,0,0,0.9);
  
}
/* .header__notifi::before, */
.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 10%;
    content: '';
    display: block;
}
.header__navbar-item--has-QR:hover .header__qr{
    display: block;
}
.header__navbar-item--has-notifi:hover .header__notifi{
    display: block;
}

.header__qr-img{
    width: 100%;
    opacity: 1 !important;
    /* pointer-events: none; */
    /* filter: none !important; */
   
}
.header__qr-apps{
    display: flex;
    justify-content: space-around;
}
.header__qr-download-img{
    height: 14px;
}
/* ==========thông báo======== */
.header__notifi{
    position: absolute;
    top: 160%;
    right: 0;
    width: 540px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin:calc(100% - 20px) top;
    animation: headerNotifiGrowth ease-in 0.25s;
    will-change: opacity,tranform;
    display: none;
    
}

.header__notifi::before{
    position: absolute;
    content: '';
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 2px;
    top: -28px;
}
.header__notifi::after{
    position: absolute;
    right: 0;
    top: -16px;
    width: 100px;
    height: 24px;
    content: '';
    display: block;
}

@keyframes headerNotifiGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notifi-header{
    height: 40px;
    background-color: var(--white-color);
}
.header__notifi-header h3{
    color: #4b5364;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}


.header__notifi-list{
    padding-left: 0;
}
.header__notifi-item{
    display: flex;
    /* pointer-events: none; */

}

/* ========= */
/* .header__navbar-item--has-QR */
.header__navbar-item:hover:not(.header__navbar-item--strong) {
    opacity: 1;
    z-index: 2;
}

.header__notifi-item:hover{
    background-color: #f1f1f1;

}
.header__notifi-item--viewed{
    background-color: rgba(251, 167, 191, 0.2)
}
.header__notifi-link{
    display: flex;
    width: 100%;
    /* height: 50%; */
    padding: 1rem;
    text-decoration: none;
}
.header__notifi-img {
    width: 48px;
    /* height: 32px; */
    object-fit:contain;
}
.header__notifi-info{
    margin-left: 12px;
}
.header__notifi-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400px;
    line-height: 1.6rem;
}
.header__notifi-descriotion{
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.4rem;
}
.header__notifi-footer{
    display: flex;
}
.header__notifi-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 32px;
    margin: auto;
    /* font-size: 1.4rem; */
    /* font-weight: 400; */
}


/* authen modal */
.auth-form{
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}
.auth-form__container{
    padding:0px 32px ;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
    
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color:red ;
    font-weight:500;
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #777;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    /* font-weight: 400; */
    text-align: center;
}
.auth-form__text-link{
    color: red;
    text-decoration: none;
}
.auth-form__controls{
    margin-top: 100px;
}
.auth-form__controls{
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back{
    margin-right: 8px;
    background-color: var(--white-color);
}
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
    color: var(--white-color);
}
.auth-form__socials--facebook{
    color: var(--white-color);
    background-color: #07437b;
}
.auth-form__socials--google{
    background-color: var(--white-color);
    color: #5c5555;
}
.fa-google{
    color: #1067b8;
}
.auth-forn__socials-title{
    margin: 0px 36px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #827a7a;
}
.auth-form__help-separate{
    display: block;
    height: 20px;
    border-left: 1px solid var(--border-color);
    margin: -2px 16px 0;
}
.auth-form__help-forget{
    color: var(--main-color);
}

/* header with search */
.header-with-search{
    /* height: 86px; */
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}
/* =========search mobile======== */
.header__mobile-search{
    padding: 0 12px;
    display: none;
}
.header__mobile-search-icon{
    font-size: 2.6rem;
    color: var(--black-color);
}
.header__logo{
    width: 200px;
}
.header__logo-img{
    width: 150px;
    color: red;
}
/* ===========tìm kiếm ===========*/
.header__search{
    z-index: 2;
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__search-checkbox:checked ~ .header__search{
    display: flex;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}
.header__search-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #878383;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    border-radius: 3px;
    margin-right: 3px;
    width: 60px;
    outline: none;
}
.header__search-btn:hover{
    cursor: pointer;
    background-color: #daa5c3;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
.header__search-select:hover .header_search-option{
    display: block;
}
.header_search-option{
    position: absolute;
    right: 0;
    top: 100%;
    width: 130px;
    list-style: none;
    box-shadow: 0 0  3px #ccc;
    padding-left: 0;
    /* overflow: hidden; */
    display:none;
    animation: fadeIN ease-in 0.2s;
    background-color: var(--white-color);
}
.header_search-option::after{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    /* background-color: red; */
    top: -10px;
    left: 0;

}
.header_search-option-item{
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px 8px;
    margin-top: 8px;
    /* text-align: right; */

}
.header_search-option-item:hover{
    background-color: #f7f0f0;
    cursor: pointer;
}
.header_search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header_search-option-item i{
    font-size: 1.2rem;
    color: green; 
    margin-left:12px;  
    display: none;
}

.header_search-option-item-active i{
    display: inline-block;
}

/* seach history */
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-history{
    position: absolute;
    top:calc(100% + 4px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px #999;
    display: none;
}
.header__search-history-heading{
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #a19b9b;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
.header__search-history-item{
    height: 38px;
    padding: 0 14px;

}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}
.header__search-history-item:hover{
    background-color: #f6f4f4;
}
/* ==============giỏ hàng============ */
.header__cart{
    z-index: 2;
    width: 150px;
    text-align: center;
    position: relative;
}

.header__cart::after{
    position: absolute;
    content: '';
    display: block;
    width: 40%;
    height: 20px;
    /* background-color:red; */
    top:80%;
    left: 25%;
}
.header__cart:hover .header__cart-list{
    display: block;
}
.header__cart-icon{
    font-size: 2.5rem;
    color: green;
    margin-top: 6px;
}
.header__cart-notice{
    position: absolute;
    padding: 1px 7px;
    background-color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--text-color);
    border-radius: 10px;
    border:2px solid #ad6d7fb9;
    top:-5px;
    right: 48px;
}
.header__cart-list::before{
    cursor: pointer;
    position: absolute;
    content: '';
    border-width: 16px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 8px;
    top: -26px;
}
.header__cart-list{
    position: absolute;
    top:130%;
    right: 50px;
    background-color: #fdfdfd;
    width: 400px;
    /* no car ??????????height: 240px;=================================== */
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0, 0.2);
    animation: fadeIn ease-in 0.2s;
    display: none;
    z-index: 1;
}

.header__cart-list-no-cart{
    padding: 50px 0;
    
}
.header__cart-list-no-cart .header__cart-list-no-cart-img,
.header__cart-list-no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header__cart-list-no-cart-img{
    width: 25%;
    display: none;
    /* height: 400px; */
}
.header__cart-list-no-cart-msg{
    /* display: block; */
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
}
/* =======has giỏ hàng========== */
.header__cart-heading{
    text-align: left;
    margin: 12px 12px ;
    font-size: 1.4rem;
    color:rgb(140, 148, 162) ;
    font-weight: 400;

}
.header__cart-list-item{
    padding-left: 0; /* vì thẻ ul mặc định padding 40px*/
    list-style: none;
    max-height: 40vh;
    overflow-y: auto;
}
.header__cart-item{
    display: flex;
}
.header__cart-item:hover{
    background-color: #f8f3f7;
   
}

.header__cart-img{
    width: 42px;
    height: 48px;
    margin: 12px;
    border: 1px solid var(--border-color);
}
.header__cart-item-info{
     width: 100%;
}

.header__cart-item-head{
    display: flex;
   
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 6px 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
    flex: 1;

}
.header__cart-item-swap{
    margin: 12px 12px;
    
}

.header__cart-item-price{
    font-size: 1.3rem;
    color: var(--main-color);
}

.header__cart-item-multipl{
    margin:0 4px;
}

.header__cart-item-qnt{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(75, 83, 100);
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description{
    font-size: 1.2rem;
    color: rgb(113, 116, 120);

}

.header__cart-item-remove{
    margin-right: 12px;
    font-size: 1.4rem;
    cursor: pointer;
}
.header__cart-view-cart{
    float: right;
    margin:0 12px 12px 0;
}
.header__cart-view-cart:hover{
    background-color: rgb(53, 104, 53);
}
/* header sort bar */
.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    line-height: var(--header-sort-bar-height);
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;

}
.header__sort-item{
    flex: 1;
}
.header__sort-link{
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    color: var(--text-color);
    height: 100%;
    text-align: center;
    position: relative;
}
.header__sort-link::before{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
}
.header__sort-item--active .header__sort-link{
    color: var(--main-color);
}

/* content */

.app__container{
    background-color: #f7f5f5;
}
.app__content{
    padding-top: 24px;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.catelogy__header{
    /* display: flex; */
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 12px 16px;
    font-weight: 500;
    margin-top: 0;
    border-bottom: 1px solid #e6e1e1;
    text-transform:uppercase;
}
.catelogy__header-icon{
    position: relative;
    font-size: 1.4rem;
    margin-right: 4px;
    top: -1px;
}
.catelogy-list{
    list-style: none;
    padding: 0 0 8px 0;
    margin-left: 10px;

}
.catelogy-item{
    position: relative;
}
.catelogy-item:first-child::before{
    display: none;
}
.catelogy-item::before{
    border-top: 1px solid #e1e1e1;
    content: "";
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
}

.catelogy-item__active .catelogy-item__link{
    color: green;
}
.catelogy-item__active .catelogy-item__link::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 7px;
    border: 4px solid;
    transform: translateY(calc(50% - 7px));
    border-color: transparent transparent transparent green ;
    
}

.catelogy-item__link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 10px 16px;
    display: block;
    transition: right linear 0.2s;
    right: 0;
}
.catelogy-item__link:hover{
    right: -4px;
    color: rgb(28, 134, 28);
}
/* ===content==== */
.home_filter{
    margin-bottom: 10px;
    background-color:#ededed ;
    display: flex;
    border-radius: 2px;
    padding: 12px 22px;
    align-items: center;
}
/* =====mobile catelogy====== */
.mobile-catelogy{
    display: none;

}
.mobile-catelogy__list{
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow: auto;

}
.mobile-catelogy__list::-webkit-scrollbar{
    display: none;
}
.mobile-catelogy__item{
    flex-shrink: 0;
    margin-right: 10px;

    
}
.mobile-catelogy__item:nth-child(3n + 1) .mobile-catelogy__link{
    background-color: #87AFD8;
}
.mobile-catelogy__item:nth-child(3n + 2) .mobile-catelogy__link{
    background-color: #76C9BD;
}
.mobile-catelogy__item:nth-child(3n + 3) .mobile-catelogy__link{
    background-color: #88CF81;
}
.mobile-catelogy__link{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    /* color: var(--text-color); */
    color: var(--white-color);
    line-height: 2rem;
    text-align: center;
    width: 108px;
    height: 4rem;
    display: block;
    border-radius: 4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color:transparent ;
    padding: 0 5px;
}

.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn{
    background-color: var(--white-color);
    min-width: 90px;
    margin-right: 12px;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--main-color);
}
.home-filter_page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter_page-btn{
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;

}
.home-filter_page-btn-disable{
    background-color: #f7f7f7;
    cursor: default;
}
.home-filter_page-btn-disable .home-filter_page--icon{
    color: #ccc;
}
.home-filter_page-btn:first-child{
    border-right:1px solid #eee;
}
.home-filter_page--icon{
    margin: auto;
    font-size: 1.3rem;
    color: #555;

}


/* product item */
.home-product-item{ 
    /* margin-top: px; */
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}
.home-product-item:hover{
    transform: translateY(-2px);
    box-shadow: 0 1px 20px rgba(0,0,0,.2);
}
.home-product-item__img{
    padding-top: 100%;
    /* max-width: 100%; 
    max-height: 100%;
    height: auto;
    width: 100%; */
    background-size: contain;
    background-position: center;
}
.home-product-item__name{
    margin: 10px 8px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.8rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient:vertical ;
    -webkit-line-clamp:2;
    text-overflow: ellipsis8;
}

.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__prive-old{
    font-size: 1.3rem;
    margin-left: 10px;
    color: #9c9999;
    text-decoration: line-through;
}

.home-product-item__prive-current{
    font-size: 1.6rem;
    color: var(--main-color);
    margin-left: 10px;
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0 10px;
}

.home-product-item__like{
    font-size: 1.3rem;
}
i.home-product-item__liked-icon{
    font-size: 1.3rem;
    color: #f63D30;
    display: none ;
}
.home-product-item__liked .home-product-item__liked-icon{
    display: inline-block;
}
.home-product-item__liked .home-product-item__like-icon{
    display: none;
}
.home-product-item__rating{
    font-size: 0.7rem;
    margin-left: auto;
}
.home-product-item__star-gold{
    color: #ffce3d !important;
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 12px 10px;
    color: #8c8077;
    font-size: 1.2rem;
    font-weight: 300;
}
.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    /* background-color:#f25220; */
    color:green;
    background-color: currentColor;
    /* color: var(--white-color); */
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px ;
    border-bottom-right-radius: 3px ;

}
.home-product-item__favourite::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left:4px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite i{
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 3px 0 5px;
}
.home-product-item__favourite span{
    color: var(--white-color);
}
.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color:rgba(255,216,57,0.95);
    text-align: center;
}
.home-product-item__sale-off::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid rgba(255,216,57,0.95);
    border-right:19px solid transparent;
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -4px;
    border-top: 4px solid rgba(255,216,57,0.95);
    border-left:19px solid transparent;
}
.home-product-item__sale-off-precent{
    font-size: 1.3rem;
    color: #EE4D2D;
    font-weight: 600;
    line-height: 1.2rem;
    position: relative;
    top: 3px;
}
.home-product-item__sale-off-lable{
    font-size: 1.3rem;
    color: var(--white-color);
    line-height: 1.3rem;
    font-weight: 600;
    position: relative;
    top: 3px;
}

.home-product--pagition{
    margin: 48px 0 32px 0;
    padding-left: 0;
}
/* ================footer================== */
.footer{
    padding-top: 12px;
    border-top:4px solid green ;
}
.footer__heading{
    font-size: 1.4rem;
    color: var(--text-color);
}
.footer-list{
    padding-left: 0;
    list-style: none;
}
.footer-item__link{
    text-decoration: none;
    font-size: 1.3rem;
    color: #737373;
    padding: 6px 0;
    display: flex;
    align-items: center;
}
.footer-item__link:hover{
    color: var(--main-color);
}
.footer-item__icon{
    font-size: 1.6rem;
    margin: 2px 8px 0 0;
}
.footer__download{
    display: flex;

}
.footer__download-qr{
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps{
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-app-img{
    height: 20px;
}
.footer-button{
    padding: 12px 0;
    background-color: #f5f5f5;

}
.footer__license{
    font-size:1.2rem;
    margin: 0;
    color: #737373;
    text-align: center;
}



.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.c-o-1 {
    margin-left: 8.33333%;
}

.c-o-2 {
    margin-left: 16.66667%;
}

.c-o-3 {
    margin-left: 25%;
}

.c-o-4 {
    margin-left: 33.33333%;
}

.c-o-5 {
    margin-left: 41.66667%;
}

.c-o-6 {
    margin-left: 50%;
}

.c-o-7 {
    margin-left: 58.33333%;
}

.c-o-8 {
    margin-left: 66.66667%;
}

.c-o-9 {
    margin-left: 75%;
}

.c-o-10 {
    margin-left: 83.33333%;
}

.c-o-11 {
    margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-o-1 {
        margin-left: 8.33333%;
    }

    .m-o-2 {
        margin-left: 16.66667%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.33333%;
    }

    .m-o-5 {
        margin-left: 41.66667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.33333%;
    }

    .m-o-8 {
        margin-left: 66.66667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.33333%;
    }

    .m-o-11 {
        margin-left: 91.66667%;
    }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .l-0 {
        display: none;
    }

    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wide .l-0 {
        display: none;
    }

    .wide .l-1,
    .wide .l-2,
    .wide .l-2-4,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12 {
        display: block;
    }

    .wide .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .wide .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .wide .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .wide .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .wide .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .wide .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .wide .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide .l-o-1 {
        margin-left: 8.33333%;
    }

    .wide .l-o-2 {
        margin-left: 16.66667%;
    }

    .wide .l-o-3 {
        margin-left: 25%;
    }

    .wide .l-o-4 {
        margin-left: 33.33333%;
    }

    .wide .l-o-5 {
        margin-left: 41.66667%;
    }

    .wide .l-o-6 {
        margin-left: 50%;
    }

    .wide .l-o-7 {
        margin-left: 58.33333%;
    }

    .wide .l-o-8 {
        margin-left: 66.66667%;
    }

    .wide .l-o-9 {
        margin-left: 75%;
    }

    .wide .l-o-10 {
        margin-left: 83.33333%;
    }

    .wide .l-o-11 {
        margin-left: 91.66667%;
    }
}

/* moblie and tablet */
@media (max-width: 1023px) {
    :root{
        --header-height:68px;
        --navbar-height:0px;
    }
    .hide-on-mobile-tablet{
        display: none;
    }
    .header{
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
    }
   
    .header__cart-list {
        position: fixed;
        right: 0;
        top: var(--header-height);
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }
    .header__cart-list::before{
        display: none;
    }
    .app__container{
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
    .header__sort-bar{
        display: flex;
    }
    .app__content{
        padding-top: 4px;
    }
    .mobile-catelogy{
        display: block;
    
    }


}
/* tablet */
@media (min-width: 740px) and (max-width:1023px){
    .hide-on-tablet{
        display: none;
    }
    .header__cart {
        width: 80px;
        text-align: right;
    }
    .header__cart-notice {
        position: absolute;
        right: -11px;
    }
}
/* mobile */
@media (max-width: 739px) {

    .hide-on-mobile{
        display: none;
    }
    .header-with-search{
        justify-content: space-between;
    }
    .header__logo{
        width: unset;
    }
    .header__cart{
        width: unset;

    }
    .header__cart-notice{
        
        right: -7px;
    }

    .header__search{
        position: fixed;
        top: var(--header-height);
        right: 0;
        left: 0;
        height: var(--header-sort-bar-height);
        box-shadow: 0 1px rgba(0,0,0,0.1);
        z-index: 3;
        border: 1px solid rgba(0,0,0,0.01);
        padding: 0 16px;
        animation: searchMobile linear 0.3s;
        display: none;
    }
    @keyframes searchMobile {
        from{
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        to{
            opacity: 1;
            top: var(--header-height);
            
        }
    }
    .header__search-history{
        position:fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        width: 100%;
        left: 0;
    }
    .header__mobile-search{
        display: block;
    }
  
    .pagination-item_{
        margin: 0;
    }
    .pagination-item__link{
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;

    }
    .app__content{
        margin: 0 4px;
    }
    .header__logo-img{
        width: 110px;
    }
    .footer__content{
        padding: 0 32px;
    }
}
